.worksBlock{
    min-height: 100vh;
    background-color: #f4f2ec;
    padding: 100px 0;
}
.worksContainer {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.works{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-top: 30px;
    /*align-items: flex-start;*/
}

@media screen and (max-width: 1129px){
.works {
    justify-content: space-between;
}
}