.contactBlock{
    height: 80vh;
    background-color: #f4f2ec;
}
.contactContainer{
    flex-direction: row;
    justify-content: flex-start;
}
.contact{
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}