.distant{
    height: 50vh;
    background-color: rgba(229, 176, 161, 0.71);
}
.workContainer{
    /*flex-direction: row;
    justify-content: flex-start;*/
    flex-direction: column;
    justify-content: center;
}
.work{
    border: 1px solid;
    width: 100%;
}