.distant{
    height: 50vh;
    background-color: #f0f0f0;
}
.workContainer{
    /*flex-direction: row;
    justify-content: flex-start;*/
    flex-direction: column;
    justify-content: center;
}
.work{
    border: 1px solid;
    width: 100%;
}