.footerBlock{
    height: 50vh;
    background-color: #1c1c1c;
}
.footerContainer{
    flex-direction: row;
    justify-content: flex-start;

}
.footer{
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: center;

}